@media screen and (max-width: 605px) {
  #container .infoBlock {
    width: 80%;
    left: 10%;
  }

  .content .infoBlock h2 {
    color: green;
  }
  .content .infoBlock p {
    font-size: 2em;
    color: red;
  }
}
