html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.p, h2 {
  font-family: Arial, Tahoma, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Tahoma, sans-serif;
}

#container {
  width: 100%;
  height: 660px;
  position: relative;
  margin-bottom: 100px;
  background: url('/public/img/../img/bg2.jpg?1403345041');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
#container h1 {
  margin: 0;
}
#container .infoBlock {
  position: absolute;
  background: rgba(0, 0, 0, 0.67);
  color: white;
  width: 50%;
  padding: 12px;
  top: 25%;
  left: 25%;
}
#container .infoBlock img {
  display: inline;
  float: left;
  margin: 0 40px 0 10px;
}
#container .infoBlock p {
  margin-top: 30px;
  font-weight: bold;
  font-size: 2em;
  word-wrap: break-word;
}
#container .header {
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 110px;
  background-color: white;
  position: absolute;
}
#container .header #logo {
  display: inline-block;
  color: green;
  font-size: 2em;
  margin: 15px 10px 0 10px;
}
#container .header ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  *zoom: 1;
  margin-left: 10%;
  display: inline-block;
}
#container .header ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
#container .header ul li:first-child, #container .header ul li.first {
  padding-left: 0;
}
#container .header ul li:last-child {
  padding-right: 0;
}
#container .header ul li.last {
  padding-right: 0;
}
#container .header ul li {
  width: 210px;
  display: block;
  color: grey;
  text-align: center;
  border-right: 1px solid black;
  font-size: 2em;
}
#container .header ul li a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}
#container .header ul li a:active, #container .header ul li a:focus {
  outline: none;
}
#container .header ul li a:hover {
  color: #e54a1a;
}
#container .header ul li:last-child {
  border-right: none;
  margin-left: 20px;
}
#container .fixNav {
  position: fixed;
  top: 0;
  bottom: auto;
}

.content {
  height: 1000px;
  width: 70%;
  background-color: white;
  margin: auto;
}
.content .menuInfo {
  margin-bottom: 75px;
}
.content .menuInfo img {
  vertical-align: text-top;
  margin: 0 20px 20px 0;
}
.content .menuInfo h2 {
  display: inline;
  font-size: 2em;
  color: #e54a1a;
}
.content .menuInfo p {
  text-align: justify;
  line-height: 200%;
}
