@media screen and (min-width: 606px) and (max-width: 1023px) {
  #container {
    width: 100%;
  }
  #container .infoBlock {
    width: 50%;
    left: 20%;
  }
  #container .infoBlock p {
    font-size: 1em;
    color: yellow;
  }
  #container .infoBlock img {
    width: 60px;
    height: 90px;
  }
  #container .header ul {
    margin-left: 6%;
  }
  #container .header ul li {
    font-size: 1.5em;
    width: 150px;
  }

  .content {
    width: 80%;
  }
  .content .menuInfo h2 {
    font-size: 2.5em;
  }
  .content .menuInfo p {
    font-size: 1.5em;
  }
}
