@import "compass";
@import "compass/reset";
@import "compass/typography/lists";
@import "compass/typography/links";
@import "compass/typography/links/link-colors";

$width: 100%;
$height: 100%;
$font: Arial, Tahoma, sans-serif;
$fontSize: 12px;
$mainColor: #E54A1A;

.p, h2 {
  font-family :$font;
}
body {
  margin: 0;
  font-family: $font;
}

#container {
  width: $width;
  height: 660px;
  position: relative;
  margin-bottom: 100px;
  //  overflow: hidden;
  @include background(image-url("../img/bg2.jpg"));
  //  background-image: url("../img/bg2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  h1 {
    margin: 0;
  }
  .infoBlock {
    position: absolute;
    background: rgba(0, 0, 0, 0.67);
    color: white;
    width: 52%;
    padding: 12px;
    top: 25%;
    left: 25%;
    img {
      @include float(left);
      margin: 0 40px 0 10px;
    }
    p {
      margin-top: 30px;
      font-weight: bold;
      font-size: 2em;
      word-wrap: break-word;
    }
  }
  .header {
    bottom: 0;
    left: 0;
    width: $width;
    min-height: 110px;
    background-color: white;
    position: absolute;
    #logo {
      display: inline-block;
      color: green;
      font-size: 2em;
      margin: 15px 10px 0 10px;
    }
    ul {
      @include horizontal-list;
      margin-left: 10%;
      display: inline-block;
      li {
        width: 210px;
        display: block;
        color: grey;
        text-align: center;
        border-right: 1px solid black;
        font-size: 2em;
        a {
          color: inherit;
          text-decoration: inherit;
          cursor: inherit;
          &:active, &:focus {
            outline: none;
          }
          &:hover {
            color: $mainColor;
          }
        }
      }
      li:last-child {
        border-right: none;
        margin-left: 20px;
      }
    }
  }
  .fixNav {
    position: fixed;
    top: 0;
    bottom: auto;
  }
}

.content {
  height: 1000px;
  width: 70%;
  background-color: white;
  margin: auto;
  .menuInfo {
    margin-bottom: 75px;
    img {
      vertical-align: text-top;
      margin: 0 20px 20px 0;
    }
    h2 {
      display: inline;
      font-size: 2em;
      color: $mainColor;
    }
    p {
      text-align: justify;
      line-height: 200%;
    }
  }
}
